<% content_for :title do %>Your Orders<% end %>

<p id="notice"><%= notice %></p>

<h1>Your Orders</h1>

<% if @orders.length > 0 %>
  <div class="panel panel-default">
    <div class="table-responsive">
      <table class="table table-striped">
        <thead>
        <tr>
          <th>#</th>
          <th>Order Time</th>
          <th>Status</th>
          <th class="text-right">Amount</th>
          <th class="text-right">Actions</th>
        </tr>
        </thead>

        <tbody>
        <% @orders.created_at_desc.each do |order| %>
          <tr>
            <td>#<%= order.id %></td>
            <td><%= order.created_at.strftime("%d.%m.%Y %H:%M") %></td>
            <td><span class="label label-primary"><%= order.status %></span></td>
            <td class="text-right"><%= number_to_currency(order.total_amount) %></td>
            <td class="text-right">
              <%= link_to 'Details', order_path(order), class: 'btn btn-default btn-sm' %>
              <%= link_to 'View Updates & Messages', messages_path(order: order.id), class: 'btn btn-default btn-sm' %>
              <% if current_user.seller? or current_user.admin? %>
                <%= link_to 'Update Status', new_message_path(order: order.id), class: 'btn btn-default btn-sm' %>
              <% end %>
            </td>
          </tr>
        <% end %>
        </tbody>
      </table>
    </div>
  </div>
<% else %>
  <h2 class="text-muted text-center margin-top-large">You have not yet made any orders.</h2>
<% end %>