<h1 id="page-title">All Products<%= @products.count < Product.all.count ? " <small>#{@products.count} results</small>".html_safe : '' %></h1>

<div class="row">
  <div class="col-sm-12 col-md-3">
    <div class="panel panel-default">
      <div class="panel-heading"><h4>Search & Filter</h4></div>
      <div class="panel-body">
        <div>
          <h4>Search</h4>
          <div class="form-group">
            <label for="search">Keyword</label>
            <input type="text" class="form-control" id="search" onchange="searchInput(this)">
          </div>
        </div>

        <div class="margin-top-small">
          <h4>Filter by brand</h4>
          <% @all_brands.each do |brand| %>
            <div class="checkbox">
              <label>
                <input id="<%= brand.gsub(' ', '+') %>" type="checkbox" onclick="checkboxClick(this, 'brand')"> <%= brand %>
              </label>
            </div>
          <% end %>
        </div>

        <div class="margin-top-small">
          <h4>Filter by material</h4>
          <% @all_materials.each do |material| %>
            <div class="checkbox">
              <label>
                <input id="<%= material.gsub(' ', '+') %>" type="checkbox" onclick="checkboxClick(this, 'material')"> <%= material %>
              </label>
            </div>
          <% end %>
        </div>

        <div class="margin-top-small">
          <h4>Filter by price</h4>
          <div class="form-group">
            <label for="lprice">Minimum Price</label>
            <input type="number" class="form-control" id="lprice" onchange="priceInput(this, 'lprice')">
          </div>
          <div class="form-group">
            <label for="hprice">Maximum Price</label>
            <input type="number" class="form-control" id="hprice" onchange="priceInput(this, 'hprice')">
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="col-sm-12 col-md-9">
    <% if @products.length > 0 %>
      <div class="row">
        <% @products.each do |product| %>
          <div class="col-xs-12 col-sm-6 col-lg-4">
            <div class="panel panel-default">
              <div class="panel-heading product-panel-heading">
                <%= image_tag "placeholder_#{ product.id.digits.first }.svg", class: "product-img", alt: "Product Image"%>
              </div>
              <div class="panel-body">
                <div class="caption">
                  <h4 class="pull-right"><%= number_to_currency(product.price) %></h4>
                  <h4><%= link_to product.name, product %></h4>
                  <p><%= product.description %></p>
                  <% if user_signed_in? and Cart.product_in_cart?(current_user.id, product.id) > 0 %>
                    <div class="cart-counter"><%= "#{Cart.product_in_cart?(current_user.id, product.id)} in cart" %></div>
                  <% end %>
                </div>
              </div>
              <div class="panel-footer">
                <% if user_signed_in? %>
                  <% if Product.find(product.id).stock_level > 0 %>
                    <%= form_for :cart_item, :url => '/addtocart', html: { class: 'form-inline' }, method: :post, remote: true do |f| %>
                      <div class="amount-container">
                        <%= f.label(:amount, class: "sr-only") %>
                        <%= f.number_field :amount, {value: 1, class: 'form-control amount-input', min: 1, max: Product.find(product.id).stock_level} %>
                        <%= f.hidden_field :product, value: product.id, class: 'form-control' %>
                      </div>
                      <%= f.submit 'Add to Cart', class: 'btn btn-primary pull-right' %>
                    <% end %>
                  <% else %>
                    <div class="text-right">
                      <%= link_to 'Item out of stock', {}, class: 'btn btn-default', disabled: 'disabled' %>
                    </div>
                  <% end %>
                <% else %>
                  <div class="text-right">
                    <%= link_to 'Please sign in to buy this item', '/users/sign_in', class: 'btn btn-default' %>
                  </div>
                <% end %>
              </div>
            </div>
          </div>
        <% end %>
      </div>
    <% else %>
      <% if @products.count < Product.all.count #check if we're displaying an empty list or an empty search result %>
        <h2 class="text-muted text-center margin-top-large">There are no results for your search.</h2>
        <p class="text-muted text-center">Consider changing the search parameters to include more products.</p>
      <% else %>
        <h2 class="text-muted text-center margin-top-large">There are no products in the shop.</h2>
        <p class="text-muted text-center">If you're a seller, create some products now.</p>
      <% end %>
    <% end %>
  </div>
</div>
