<h1 id="page-title" class="header-with-button"><%= @product.name %></h1>
<% if current_user.present? and current_user.role != 'customer' %>
  <%= link_to 'Edit this Product', edit_product_path(@product), class: 'btn btn-default pull-right pull-reset-xs header-button' %>
<% end %>

<div class="panel panel-default">
  <div class="panel-body">
    <div class="row">
      <div class="col-xs-12 col-md-4">
        <%= image_tag "placeholder_#{ @product.id.digits.first }.svg", class: "product-img", alt: "Product Image"%>
      </div>
      <div class="col-xs-12 col-md-5">
        <h2><%= @product.name %></h2>
        <p><%= @product.description %></p>
        <dl class="dl-horizontal">
          <dt>Brand</dt>
          <dd><%= @product.brand %></dd>
          <dt>Material</dt>
          <dd><%= @product.material %></dd>
          <dt>Weight</dt>
          <dd><%= number_with_precision(@product.weight, precision: 2) %> kg</dd>
        </dl>
      </div>
      <div class="col-xs-12 col-md-3 text-right text-right-sm">
        <h2><%= number_to_currency(@product.price) %></h2>
        <h4><%= @product.stock_level %> in stock</h4>
        <% if user_signed_in? and Cart.product_in_cart?(current_user.id, @product.id) > 0 %>
          <div class="cart-counter-show"><%= "#{Cart.product_in_cart?(current_user.id, @product.id)} in cart" %></div>
        <% end %>
        <% if user_signed_in? %>
          <% if Product.find(@product.id).stock_level > 0 %>
            <%= form_for :cart_item, :url => '/addtocart', html: { class: 'form-inline amount-form-show margin-top-medium' }, method: :post, remote: true do |f| %>
              <div class="amount-container">
                <%= f.label(:amount, class: "sr-only") %>
                <%= f.number_field :amount, {value: 1, class: 'form-control amount-input', min: 1, max: Product.find(@product.id).stock_level} %>
                <%= f.hidden_field :product, value: @product.id, class: 'form-control' %>
              </div>
              <%= f.submit 'Add to Cart', class: 'btn btn-primary pull-right' %>
            <% end %>
          <% else %>
            <%= link_to 'Item out of stock', {}, class: 'btn btn-default margin-top-small', disabled: 'disabled' %>
          <% end %>
        <% else %>
          <%= link_to 'Please sign in to buy this item', '/users/sign_in', class: 'btn btn-default margin-top-small' %>
        <% end %>
      </div>
    </div>
  </div>
</div>